.product-container {
  display: flex;
  background-color: white;
  border-bottom: 1px solid #eeeeee;

  .img-product {
    width: 150px;
    height: 150px;
    margin: 16px;
    border-radius: 4px;
  }

  .description {
    display: inline-flex;
	width: 100%;
  }

  h5 {
    display: inline-flex;
    margin-top: 16px;
    color: black;

    :hover & :focus {
      text-decoration: none;
    }
  }
  
  .free-shipping {
    display: inline-flex;
    width: auto;
    height: auto;
    margin-top: -5px;
    margin-left: 10px;
  }

  .title {
    display: flex;
    width: 500px;
    color: black;
	margin-right: 200px;
  }

  .product-state {
    display: inline-flex;
    font-size: 12px;
	color:black;
  }

  .container-text {
	display: flex;
  }
}
