.details-container {
  padding: 32px;
  background-color: #ffffff; }

.details-container .btn-blue {
  background-color: #3483fa; }

.details-container .title {
  font-weight: bold;
  margin-bottom: 16px; }

.details-container .price {
  margin-bottom: 40px; }

.details-container .description {
  margin-top: 16px;
  font-size: 14px;
  color: #999999; }
