/* Class Search */
.navbar-search {
  display: flex;
  background-color: #ffe600;
  width: 100%;
  border: 0;
  align-items: center; }

.navbar-brand {
  width: auto; }

.container-input {
  width: 93%;
  flex-direction: column; }

.navbar input {
  color: #333;
  font-size: 14px; }

.form-group {
  margin-bottom: 0; }

.button-search {
  background-color: #eeeeee;
  border-radius: 0 4px 4px 0;
  height: 35px; }
